* {
    font-family:Consolas,monospaced,monospace;
    color:#fff;
}

body {
    background-image:linear-gradient(black,#2b2b2b);
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center center;
    background-size:cover;
    height:100%;
    width:95%;
    overflow:scroll;
    overflow-x:hidden;
    margin-left: 2%;
    margin-right: 2%;
}

hr {
    border-color:rgba(255,255,255,0.7);
    height:3px;
    width:50%;
    border-radius:20px;
}

footer {
    color:#fff;
    background-color:#2b2b2b;
    width:100%;
    height:100%;
}

footer p {
    margin-left:10%;
}

footer .social-links {
    text-align:center;
    margin:0 auto;
    table-layout:fixed;
}

footer td {
    padding-bottom:15px;
    overflow:hidden;
    text-overflow:ellipsis;
    word-wrap:break-word;
}

footer h3 {
    padding-top:15px;
    margin-left:12%;
    width:100%;
    height:100%;
}

footer .social-links a {
    color:#fff;
    text-decoration:none;
    padding:0 20px;
    width:100%;
    height:100%;
}

.presentation {
    display:flex;
    justify-content:center;
    width:100%;
    height:100%;
}

.presentation-child {
    margin:auto 35px;
    width:100%;
    height:100%;
}

.presentation img {
    background-color:#424242;
    border-radius:100%;
    border:#fff solid 3px;
    box-shadow:3px 3px 5px #fff;
    float:right;
    margin-top: 5px;
}

.wot {
    color:#1e90ff;
    font-style:oblique;
    width:100%;
    height:100%;
}

.art {
    color:#ff69b4;
    font-style:oblique;
    width:100%;
    height:100%;
}

.music {
    color:#ffd700;
    font-style:oblique;
    width:100%;
    height:100%;
}

.letter-P {
    color:#5e625f;
    width:100%;
    height:100%;
}

.letter-G {
    color:#d8bb99;
    width:100%;
    height:100%;
}

.letter-P,.letter-G {
    font-size:110%;
    text-shadow:-1px 0 white,0 1px white,1px 0 white,0 -1px #fff;
    width:100%;
    height:100%;
}

article {
    margin:auto 15%;
}

article h3 {
    width:100%;
    height:100%;
}

.work-links {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.work-links span {
    margin:auto 1%;
    width:100%;
}

.work-links button {
    color:#000;
    border-radius:10px;
    padding:10px;
    max-font-size: 3mv;
    font-size: 100%;
    box-shadow:0 1px 5px #fff;
    transition:border-radius .5s;
    border:2px solid #000;
    cursor:pointer;
    width:100%;
}

.work-links button:hover {
    border-radius:5px;
    transform:translateY(-3px);
    box-shadow:0 3px 6px #fff;
    font-weight:700;
    transition:border-radius .25s,transform .2s,box-shadow .1s,font-weight .2s;
    width:100%;
    height:100%;
    cursor: help;
}

.work-links button:active {
    border-radius:5px;
    transform:translateY(1px);
    box-shadow:0 0 #fff;
    font-weight:lighter;
    transition:border-radius 0s,transform .05s,box-shadow 0s,font-weight .05s;
    width:100%;
    height:100%;
}

.work-links .button-art:hover {
    background-color:#ff8ec7;
}

.work-links .button-technology:hover {
    background-color:#5fafff;
}

.work-links .button-music:hover {
    background-color:#ffe259;
}

/* Media query for small screens (e.g., phones) */
@media only screen and (max-width:480px) {
    .work-links {
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
    }

    .work-links span {
        margin:2% auto;
        width:100%;
    }

    footer tr > * {
        display:block;
    }

    footer tr {
        display:table-cell;
    }

    .presentation {
        display:block;
        width:100%;
        height:100%;
    }

    .presentation-child {
        text-align:center;
        margin:auto;
        padding: 2%;
    }

    .presentation img {
        background-color:#424242;
        border-radius:100%;
        border:#fff solid 3px;
        box-shadow:3px 3px 5px #fff;
        margin:auto;
        display:block;
        float:none;
    }

    html {
        overflow-x: hidden;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;

    }
}