* {
    font-family:Consolas,monospaced,monospace;
    color:#fff;
    /*border: 1px solid red;*/
}

body {
    background-image:url(/assets/Imgs/Background.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:100%;
    width:95%;
    overflow:scroll;
    overflow-x:hidden;
    padding: 0;
    margin: 0 2%;
}

.separator {
    height:3px;
    width:50%;
    border-radius:20px;
}

#title h1{
    background-size: cover;
    text-align: center;
    font-size: 45px;
    text-shadow: #5fafff 1px 1px 10px;
    margin-bottom: 0;
}

footer {
    color:#fff;
    background-color:#2b2b2b;
    width:100%;
    height:100%;
    border-radius: 10px;
}

footer p {
    margin-left:15%;
}

footer .social-links, #general-information .info-data {
    text-align:center;
    margin:0 auto;
    table-layout:fixed;
}

footer td, #general-information td {
    padding-bottom:15px;
    overflow:hidden;
    text-overflow:ellipsis;
    word-wrap:break-word;
}

footer h3 {
    padding-top:15px;
    margin-left:15%;
    width:100%;
    height:100%;
}

footer .social-links a {
    color:#fff;
    text-decoration:none;
    padding:0 20px;
    width:100%;
    height:100%;
}

footer #contact-mail {
    padding-bottom: 20px;
}

#presentation, #academic, #skills-lang {
    display:flex;
    justify-content:center;
    width:100%;
    height:100%;
}

.presentation-child {
    margin:auto 30px;
}

.presentation-child a {
    text-decoration: underline;
}

#presentation img, #academic img {
    background-color:#424242;
    border-radius:100%;
    border:#fff solid 3px;
    box-shadow:3px 3px 5px #fff;
    margin-top: 5px;
}

#about-me {
    margin:2% 15%;
    width:95%;
    height:95%;
}

#about-me a{
    text-decoration: underline;
    cursor: pointer;
    color: #8cd024;
}

.wot {
    color:#1e90ff;
    font-style:oblique;
    width:100%;
    height:100%;
}

.art {
    color:#ff69b4;
    font-style:oblique;
    width:100%;
    height:100%;
}

.music {
    color:#ffd700;
    font-style:oblique;
    width:100%;
    height:100%;
}

article {
    margin:2% 15%;
}

article h3 {
    width:100%;
    height:100%;
}

#work-links {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

#work-links span {
    margin:auto 1%;
    width:100%;
}

#work-links button {
    color:#000;
    border-radius:10px;
    padding:10px;
    max-font-size: 3;
    font-size: 100%;
    box-shadow:0 1px 5px #fff;
    transition:border-radius .5s;
    border:2px solid #000;
    width:100%;
}

#work-links button:hover {
    border-radius:5px;
    transform:translateY(-3px);
    box-shadow:0 3px 6px #fff;
    font-weight:700;
    transition:border-radius .25s,transform .2s,box-shadow .1s,font-weight .2s;
    width:100%;
    height:100%;
}

#work-links button:active {
    border-radius:5px;
    transform:translateY(1px);
    box-shadow:0 0 #fff;
    font-weight:lighter;
    transition:border-radius 0s,transform .05s,box-shadow 0s,font-weight .05s;
    width:100%;
    height:100%;
}

#work-links .button-art:hover {
    background-color:#ff8ec7;
}

#work-links .button-technology:hover {
    background-color:#5fafff;
}

#work-links .button-music:hover {
    background-color:#ffe259;
}

#copyright {
    font-size: 11px;
    font-style: italic;
    margin-top: 2%;
}

#back {
    font-weight: lighter;
    font-size: 12px;
}

#general-information, #academic-general,#skills-lang, #jobs-general {
    text-align: center;
    margin-bottom: 5%;
}

#general-information h2, #academic-general h2, #skills-lang h2, #jobs-general h2{
    font-size: 35px;
    text-align: center;
}

#general-information td{
    padding: 0 35px;
}

#skills, #lang{
    margin: 0 10%;
}

#skills ul, #lang ul {
    list-style-type: square;
    justify-content: center;
    align-content: center;
}

#jobs .job-child+.job-child:before{
    content: "<-->";
}

/* Media query for small screens (e.g., phones) */
@media only screen and (max-width:480px) {
    .work-links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .work-links span {
        margin: 2% auto;
        width: 95%;
    }

    footer tr > *, #general-information tr > * {
        display: block;
    }

    footer tr, #general-information tr{
        display: table-cell;
    }

    #presentation, #academic, #skills-lang  {
        display: block;
        text-align: center;
        width: 95%;
        height: 95%;
    }

    #skills-lang h2{
        margin: 7% 0 2% 0;
    }

    #skills-lang ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #skills-lang li{
        list-style: none;
        margin: 0 0 5% 0;
    }

    .presentation-child {
        text-align: center;
        margin: auto;
        padding: 2%;
    }

    #about-me {
        margin:0 2%;
        width:95%;
        height:95%;
    }
    #academic img{
        margin-right: auto;
    }

    #presentation img {
        background-color: #424242;
        border-radius: 100%;
        height: 90%;
        width: 90%;
        border: #fff solid 3px;
        box-shadow: 3px 3px 5px #fff;
        margin: auto;
        display: block;
        float: none;
    }

    html, body{
        overflow-x:hidden;
    }
}
