* {
    font-family: Consolas, monospaced, monospace;
    color: white;
}

body {
    background-image: linear-gradient(black, #2b2b2b);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

hr{
    border-color: rgba(255, 255, 255, 0.7);
    height: 3px;
    width: 50%;
    border-radius: 20px;
}

footer {
    color: white;
    background-color: #2b2b2b;
}

footer p {
    margin-left: 10%;
}

footer .social-links {
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}

footer td {
    padding-bottom: 15px;
}

footer h3 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    margin-left: -25%;
}

footer .social-links a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
}

.presentation {
    display: flex;
    justify-content: center;
}

.presentation-child {
    margin: auto 35px auto 35px;
}

.presentation img {
    background-color: #424242;
    border-radius: 100%;
    border: white solid 3px;
    margin: 15px;
    box-shadow: 3px 3px 5px white;
}

.wot {
    color: dodgerblue;
    font-style: oblique;
}

.art {
    color: hotpink;
    font-style: oblique;
}

.music {
    color: gold;
    font-style: oblique;
}

.letter-P {
    color: #5e625f;
}

.letter-G {
    color: #d8bb99;
}

.letter-P, .letter-G{
    font-size: 110%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

article {
    margin: auto 15%;
}

.work-links{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.work-links button {
    width: 100%;
    color: black;
    border-radius: 10px;
    padding: 10px;
    font-size: 90%;
    box-shadow: 0 1px 5px #fff;
    transition: border-radius .5s;
    border: 2px solid black;
    cursor: pointer;
}

.work-links button:hover{
    border-radius: 5px;
    transform: translateY(-3px);
    box-shadow: 0 3px 6px #fff;
    font-weight: bold;
    transition: border-radius .25s, transform .2s, box-shadow .1s, font-weight .2s;
}

.work-links button:active{
    border-radius: 5px;
    transform: translateY(1px);
    box-shadow: 0 0 #fff;
    font-weight: lighter;
    transition: border-radius 0s, transform .05s, box-shadow 0s, font-weight .05s;
}

.work-links .button-art:hover {
    background-color: #ff8ec7;
}
.work-links .button-technology:hover {
    background-color: #5fafff;
}
.work-links .button-music:hover {
    background-color: #ffe259;
}